.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heads li{
  display: inline-block;
  margin: 10px;
}

.heads li a{
  text-decoration: none;
  color: #002f34;
  font-size: 14px;
}

.heads li a:hover{
  color: #00a49f;;
}

.head1{
  color: black;
  font-weight: bold;
}

.car{
  background-color: rgb(243, 243, 243);
  padding: 20px;
}

.view{
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
  font-size: 16px;
}

.view1 a{
  color: black;
}

.view1 a:hover{
  text-decoration: none;
}

.cards{
  margin: 10px;
}

.footer{
  background-color: rgb(243, 243, 243);
}

.foot{
  font-size: 14px;
  list-style: none;
}

.foot a{
   text-decoration: none;
   color: rgba(0,47,52,.64);
}

.foot a:hover{
  color: #002f34;
}

.foot2{
  background-color: #002f34;
  padding: 15px;
}

.foot2text{
  color: white;
}

.waqas{
  display: flex;
  justify-content: space-between;
}

.waqas li{
  list-style: none;
}